* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url(nen2.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 207px;
    background-size: cover;

}
.header1 h1{
    color: white;
    text-align: center;
    padding-top: 2cm;
    border: 2px solid white;
    padding: 1cm;
}
.video{
    padding-left: 50px;
    padding-top: 20px;
    float: left;
    width: 350px;

}
.video h3{
    color: rgb(43, 129, 180);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nd{
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 40px;
}
.title h4{
    color: rgb(34, 99, 99);
}
.title h3{
    color: rgb(19, 7, 109);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.vanban{
    padding-top: 20px;
}

.vanban h6{
    font-weight: 700;
    font-size: large;
}
.vanban h5{
    font-size: 15px;
    font-weight: 700;
}
.vanban p{
    font-size: 16px;
    text-align: justify;
    
}
.sodo img{
    height: 400px;
    width: 800px;
    margin-left: 3.5cm;
}


.chunhiem{
    width: 270px;  
}

.chunhiem p{
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}
.vbcc{
    padding-top: 20px;
}

.vbcc h6{
    font-weight: 700;
    font-size: large;
}
.vbcc h5{
    font-size: 15px;
    font-weight: 700;
}
.vbcc p{
    font-size: 16px;
    text-align: justify;
}
.vbcc table{
    border: 1px solid black;
    border-collapse: collapse;
}
.vbcc table tr{
    border: 1px solid black;
    border-collapse: collapse;
    height: 40px;
    padding: 10px;
    width: 200px;
    

}
.vbcc table tr td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 200px;
    
}
.vbcc table th{
    border: 1px solid black;
    border-collapse: collapse;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.anhminhhoa img{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
    width: 1000px;
}
.csvc img{
    height: 500px;
    width: 1000px;
}







